li a:hover {
  color: #106127;
}

.navbar {
  background-color: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  top: -.6em;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  height: 60px;
  width: 100%;
  z-index: 1;
  padding: 0 50px;
  max-width: 1300px;
}

#nav-barlogo, #footer_logo {
  background-color: #5e8630;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#5f8047), to(rgba(125, 206, 43, 0.067)));
  background-image: linear-gradient(to top, #5f8047 0%, rgba(125, 206, 43, 0.067) 100%);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.navbar-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  text-align: center;
}

.navbar-item {
  height: 80px;
  position: relative;
}

.navbar-links::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  background-color: #5e8630;
  top: 4em;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar-item ul a:hover {
  padding: 0 1em;
}

.navbar-item ul {
  list-style: none;
  display: none;
}

.navbar-item ul li:not(:last-child) {
  border-bottom: 1px dotted;
}

.navbar-item ul li {
  background-color: #131313;
  padding: 2em;
  cursor: pointer;
  height: 2em;
}

.navbar-item:hover .submenu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: block;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.navbar-links:first-child:not(.home):after {
  display: none;
}

#extra li:first-child::before {
  content: '';
  position: absolute;
  border: solid;
  border-width: 6px;
  border-color: transparent transparent transparent #fff;
  left: 0;
  top: .8em;
}

#extra {
  position: relative;
}

#extra ul {
  position: absolute;
  left: 0;
  top: 10em;
}

#extra:hover ul {
  display: none;
}

.display {
  display: none;
  opacity: 0;
}

.sub3 {
  display: none;
}

.navbar-item a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  padding: 0 1.5rem;
  height: 100%;
}

.navbar-btn {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}

.navbar-btn .button {
  text-decoration: none;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border-radius: 4px;
}

.button:hover {
  color: #106127;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.5s;
}

#mobile-menu {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }
  .navbar-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    width: 100%;
    margin: 0;
    outline: 0;
    background-color: black;
    position: absolute;
    top: 70px;
    opacity: .9;
    display: none;
    height: 47vh;
    -webkit-transition: cubic-bezier(1, 0.79, 1, 1);
    transition: cubic-bezier(1, 0.79, 1, 1);
  }
  #nav-barlogo {
    margin-left: 1em;
  }
  .navbar-item:before {
    background-color: #5e8630;
    position: absolute;
    width: .2em;
    left: 0;
    content: "";
    height: 4.2em;
  }
  .inactive {
    display: none;
  }
  .navbar-item {
    width: 100%;
    padding: 0 30px;
    position: relative;
  }
  .navbar-item:not(:nth-child(4)) {
    border-bottom: 0.4px dotted #fff;
  }
  .navbar-item:hover .submenu {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    display: inline-block;
  }
  .navbar-item a:hover {
    background-color: inherit;
    -webkit-transition: cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.2s;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.2s;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .navbar-links {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .navbar-btn {
    display: none;
  }
  .close-btn {
    display: none;
    margin: 0;
    background-color: transparent;
    color: #fff;
    font-size: 3em;
    cursor: pointer;
    border: none;
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
    z-index: 100;
    margin-top: -.2em;
  }
  .navbar-btn:hover {
    background-color: #ff8177;
    -webkit-transition: cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.2s;
    transition: cubic-bezier(0.755, 0.05, 0.855, 0.06) 0.2s;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 3px;
    -webkit-transform: translate(5%, 20%);
            transform: translate(5%, 20%);
    cursor: pointer;
    display: block;
  }
  .sub1 {
    top: -4.3em;
  }
  .sub2 {
    top: -3em;
  }
  .sub3 {
    top: -1em;
  }
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px auto;
  }
  .display-nav {
    display: inline-block;
  }
  .active {
    display: block;
  }
  .navbar-item ul {
    width: 12em;
    padding: 0;
    outline: 0;
    position: absolute;
    left: 30vw;
    display: none;
    -webkit-transform: translateX(41em);
            transform: translateX(41em);
    margin: 0 0 23em 0;
    -webkit-transition: ease-in-out 2s;
    transition: ease-in-out 2s;
    z-index: 100;
  }
  .navbar-item ul li {
    position: relative;
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 2em 30px;
    opacity: .9;
  }
  #extra li:first-child::before {
    display: none;
  }
  .navbar-links:first-child:not(.home):after {
    content: '';
    position: absolute;
    border: solid;
    border-width: 6px;
    border-color: transparent transparent transparent #fff;
    left: 40vw;
    margin-left: 7em;
    display: inline-block;
  }
  #extra:after {
    content: '';
    position: absolute;
    border: solid;
    border-width: 6px;
    border-color: transparent transparent transparent #fff;
    top: 1.6em;
    margin-left: 1.7em;
  }
  #extra:hover ul {
    display: inline-block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    top: -4em;
    left: 7em;
  }
}
/*# sourceMappingURL=nav.css.map */