
.services{
    background-color: #141414 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 100vh;
}

.services h1{
background-color: #ff8177;
background-image: linear-gradient(to right,#ff8177 0%,
#ff857a 0%,
#71a744 21%,
#f99185 52%,
#cf556c 38%,
#44740d 100%);
background-size:100% ;
margin-bottom: 5rem;
font-size: 2.5rem;
-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

  opacity: 1;
}

.services_container{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.services_card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    // background:$background;
    background-size: cover;
    position: relative;
    color: #fff;
}
.services_container .services_card:nth-child(1){
    background-image :linear-gradient(to bottom,rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100% ),
    url('pexels-harsch-shivam-2007647.jpg');
}
.services_container .services_card:nth-child(2){
    background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,
    rgba(17,17,17,0.6) 100% ),
    url('pexels-cottonbro-4009626.jpg');

   
}
.services h2{
    position: absolute;
    top:350px;
    left: 30px;
}
.services_card p{
    position: absolute;
    top: 400px;
    left: 30px;

}
.services_card button{
    color: #fff;
    padding: 10px 20px;
    border:none;
    outline: none;
    border-radius: 4px;
    background:#f77062 ;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}
.services_card:hover{
transform: scale(1.075);
transition: 0.2s ease-in;
cursor: pointer;
}
@media screen and (max-width:960px) {
    .services{
        // height: 3600px;
    }
    .services h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
    .services_container{
        width: 100%;
    }
}
@media screen and (max-width:600px) {
    .services{
        // height: 1400px;
    }
    .services h1{
        font-size: 1.2rem;
       
    }
    .services_card{
        width: 100%
    }
    .services_card:nth-child(2){
        width: 100%;
    }
   
    .services_container{
     width: 100%;
    }
}
